<?xml version="1.0" encoding="UTF-8"?>
<plugin 
  xmlns="http://www.phonegap.com/ns/plugins/1.0" 
  xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-background-geolocation-broadcast-receiver" version="0.1.0">
  
  <name>Cordova BackgroundGeolocation BroadcastReceiver</name>
  
  <engines>
    <engine name="cordova" version=">=5.0.0" />
  </engines>

  <js-module name="bggeolocbroadcastreceiver" src="www/bggeolocbroadcastreceiver.js">
    <clobbers target="bggeolocbroadcastreceiver" />
  </js-module>
  
  <!-- android -->
  <platform name="android">
    
    <source-file src="src/android/com/pangea/EventReceiver.java" target-dir="src/com/pangea" />
    <source-file src="src/android/com/pangea/BgGeoLocBroadcastReceiver.java" target-dir="src/com/pangea" />
    
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <receiver android:name="com.pangea.EventReceiver">
        <intent-filter>
          <action android:name="com.transistorsoft.locationmanager.event.HEARTBEAT" />
          <action android:name="com.transistorsoft.locationmanager.event.PROVIDERCHANGE" />
        </intent-filter>
      </receiver>
    </config-file>  

    <config-file target="config.xml" parent="/*">
      <feature name="BgGeoLocBroadcastReceiver">
        <param name="android-package"
              value="com.pangea.BgGeoLocBroadcastReceiver"/>
      </feature>
    </config-file>
  
  </platform>
</plugin>